/** PikaDude's Fade Animations **/
@import "https://rawgit.com/PikaDude/Discord-Fade-Anims/master/Discord-Fade-Anims.css";
/** TriggerRimfire's Avatar Shadow **/
@import "https://rawgit.com/TriggerRimfire/48b3303f4032fffd952c108260a059a4/raw/302f0672b2b7246a26dc2af0fa43bce90955e68b/discord-avatar-shadow.css";
/** Vap0r1ze's Nitro Badges **/
@import "https://rawgit.com/Vap0r1ze/Discord-Nitro-Badges/master/nitro.css";

/** AlexFlipnote's Theme **/
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/theme.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/transparent.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/highlightJS.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/customDnD.css";
@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/hideSearch.css";
/**@import "https://rawgit.com/AlexFlipnote/Discord_Theme/master/assets/statusPopout.css";**/ /* Disabled while waiting for a patch */

/** transparent settings **/
.sidebar-region, .content-region, .scroller, .ui-standard-sidebar-view {
	background: transparent !important;	
}
/** end **/
.scroller.guilds {
  background: #232323 !important;
}
/** Ovyerus' Edited Pencil **/

.message-group .comment .edited {
    font-size: 0;
    width: 13px !important;
    height: 13px !important;
    display: inline-block;
    background-image: url(https://cdn.rawgit.com/twitter/twemoji/gh-pages/svg/270f.svg);
    background-size: 100%;
    opacity: 0.5;
    line-height: 23px;
    transition: opacity 0.2s;
}

.message-group .comment .edited:hover {
    opacity: 1;
}

/** Lewis' Mods (should get around to labelling these) **/

.app {
   background: rgba(0, 0, 0, 0.75);
}

body {
  background: url("http://i.imgur.com/ziRHcZl.jpg") !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.friends-icon {
   background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_question_answer_white_24px.svg)!important;
   opacity: 0.8;
   margin-top: 4px;
   background-size: 50%!important
}

.user-popout .body {
   background: #332e2e;
}

.user-popout .footer {
   background: #2b2727;
   border-top: 0px;
}

.user-popout .quick-message {
   background: #2b2727;
   color: white;
}

.note textarea:focus {
   background: #332e2e;
}

/** Nice Code Blocks **/
@font-face {
    font-family: firacode;
    src: url("https://rawgit.com/bollwyvl/firacode-webfont/master/FiraCode-Regular.ttf");
}

code {
	font-family: firacode !important;
}

/** Version **/
.theme-dark .user-settings-account:after,
.theme-light .user-settings-account:after {
  color: var(--accent); font-weight: bold;
  content: "BootyfulDiscord 2.0.3 (based off AlexFlipnote's theme) | Check GitHub for changelog | https://github.com/LewisTehMinerz/BootyfulDiscord";
}
.profile-badge.badge-staff {
    background-image: url("http://i.imgur.com/XTHWM47.png") !important;
}
.profile-badge.badge-premium {
    background-image: url("http://i.imgur.com/XTHWM47.png") !important;
}
.profile-badge.badge-partner {
    background-image: url("http://i.imgur.com/XTHWM47.png") !important;
}

/** Additions by Immo **/
:root {
  --profilepictureshape: 20%;
}
.avatar-large {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  border-radius: var(--profilepictureshape);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.avatar-large:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.avatar-small {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  border-radius: var(--profilepictureshape);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/*.avatar-small[style*='193882745573867521'] + .member-inner .member-username-inner::after, .guild-settings-modal-members .avatar-small[style*='193882745573867521'] + .member-inner .member-username::after, .avatar.popout[style*='193882745573867521']::after, .message-group .avatar-large[style*='193882745573867521'] + .comment .timestamp::before {
  content: "ばか";
  background: #7289DA;
  font-size: 10px;
  font-weight: 600;
  color: #fff !important;
  margin-left: 6px;
  margin-right: 6px;
  padding: 1px 2px;
  border-radius: 3px;
  text-transform: uppercase;
  vertical-align: bottom;
  line-height: 16px;
  flex-shrink: none;
}*/

